::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

@font-face {
  font-family: 'Bariol';
  src: url('fonts/Bariol.otf');
}

@font-face {
  font-family: 'Dense';
  src: url('fonts/Dense.otf');
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
  position: fixed;
}

#button:active {
	opacity: 0.5;
}

.shake-animation {
	-webkit-animation: shake 0.2s 1;
	animation: shake 0.2s 1;
}

@keyframes shake {
    0%   { left: 0; }
    25%  { left: -1%; }
    75%  { left: 1%; }
    100% { left: 0; }
}

.unclickable {
  pointer-events: none;
}

.colorG {
  background-color: rgba(46, 204, 113, 1.0) !important;
}

.colorY {
  background-color: rgba(241, 196, 15, 1.0) !important;
}

.tease_animation {
  -webkit-animation: tease 3s infinite ease-in-out, slide_left 0.5s 1 ease-out;
  animation: tease 3s infinite ease-in-out, slide_left 0.5s 1 ease-out;
}

.slide_up_pop_animation {
	-webkit-animation: slide_up_pop 0.5s 1 ease-out;
	animation: slide_up_pop 0.5s 1 ease-out;
}

.slide_down_pop_animation {
  -webkit-animation: slide_down_pop 0.6s 1 ease-out;
  animation: slide_down_pop 0.6s 1 ease-out;
}

.slide_right {
	-webkit-animation: slide_right 0.4s 1 ease-out;
	animation: slide_right 0.4s 1 ease-out;
}

.slide_right_out {
  -webkit-animation: slide_right_out 1s 1 ease-out;
  animation: slide_right_out 1s 1 ease-out;
}

.pop_up_animation {
	-webkit-animation: pop_up 0.5s 1 ease-out;
	animation: pop_up 0.5s 1 ease-out;
}

.slide_left {
  -webkit-animation: slide_left 0.4s 1 ease-out;
  animation: slide_left 0.4s 1 ease-out;
}

.slide_left_out {
  -webkit-animation: slide_left_out 1s 1 ease-out;
  animation: slide_left_out 1s 1 ease-out;
}

.fade_in_animation {
  -webkit-animation: fade-in 0.5s 1 ease-out;
  animation: fade-in 0.5s 1 ease-out;
}

.fade_out_animation {
  -webkit-animation: fade-out 1s 1 ease-in;
  animation: fade-out 1s 1 ease-in;
}

.slide_up_out_animation {
  -webkit-animation: slide_up_out 1s 1 ease-in;
  animation: slide_up_out 1s 1 ease-in;
}

.pulse {
  -webkit-animation: pulse 1s infinite alternate ease-in-out, fade-in 1.5s 1 ease-out;
  animation: pulse 1s infinite alternate ease-in-out, fade-in 1.5s 1 ease-out;
}

.pulse_big {
  -webkit-animation: pulse_big 1s infinite alternate ease-in-out;
  animation: pulse_big 1s infinite alternate ease-in-out;
}

.bob {
  -webkit-animation: bob_up 1s infinite alternate ease-in-out;
  animation: bob_up 1s infinite alternate ease-in-out;
}

.menu_button_animation1 {
  -webkit-animation: slide_up_top 1.5s 1 ease-out, bob_up 1s 1.5s infinite alternate ease-in-out;
  animation: slide_up_top 1.5s 1 ease-out, bob_up 1s 1.5s infinite alternate ease-in-out;
}

.menu_button_animation2 {
  -webkit-animation: slide_up_top 2s 1 ease-out, bob_up 1s 2s infinite alternate ease-in-out;
  animation: slide_up_top 2s 1 ease-out, bob_up 1s 2s infinite alternate ease-in-out;
}

.menu_button_animation3 {
  -webkit-animation: slide_up_top 2.5s 1 ease-out, bob_up 1s 2.5s infinite alternate ease-in-out;
  animation: slide_up_top 2.5s 1 ease-out, bob_up 1s 2.5s infinite alternate ease-in-out;
}

.pop_down_animation {
  -webkit-animation: pop_down 1s 1 ease-in;
  animation: pop_down 1s 1 ease-in;
}

.slide_down_animation {
  -webkit-animation: slide_down 1s 1 ease-in;
  animation: slide_down 1s 1 ease-in;
}

.emoji_animation {
  -webkit-animation: emoji 1.5s 1 ease-out;
  animation: emoji 1.5s 1 ease-out;
}

.tilt {
  -webkit-animation: tilt 2s infinite linear;
  animation: tilt 2s infinite linear;
}

.tilt_more {
  -webkit-animation: tilt 2s infinite linear;
  animation: tilt 2s infinite linear;
}

@keyframes tease {
    0%   { transform: rotate(0); }
    50%  { transform: rotate(0); }
    55%  { transform: rotate(3deg); }
    60%  { transform: rotate(-3deg); }
    65%  { transform: rotate(0); }
    100% { transform: rotate(0); }
}

@keyframes tilt {
    0%   { transform: rotate(0); }
    25%  { transform: rotate(2deg); }
    50%  { transform: rotate(0); }
    75%  { transform: rotate(-2deg); }
    100% { transform: rotate(0); }
}

@keyframes tilt_more {
    0%   { transform: rotate(0); }
    25%  { transform: rotate(5deg); }
    50%  { transform: rotate(0); }
    75%  { transform: rotate(-5deg); }
    100% { transform: rotate(0); }
}

@keyframes emoji {
    0%   { opacity: 1; transform: scale(0); }
    20%  { transform: scale(1.2); }
    33%  { transform: scale(0.9); }
    50%  { transform: scale(1); }
    75%  { opacity: 1; transform: scale(1); }
    100%  { opacity: 0; }
}

@keyframes slide_up_top {
    from { transform: translateY(100%); }
    to   { transform: translateY(-10%); }
}

@keyframes bob_up {
    from { transform: translateY(-10%); }
    to   { transform: translateY(0); }
}

@keyframes pulse {
    from { transform: scale(1); }
    to   { transform: scale(0.9); }
}

@keyframes pulse_big {
  from { transform: scale(1); }
  to   { transform: scale(1.03); }
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fade-out {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes slide_left {
    from { transform: translateX(100%); }
    to   { transform: translateX(0); }
}

@keyframes slide_left_out {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(100%); }
    100% { transform: translateX(100%); }
}

@keyframes pop_up {
    0%   { transform: scale(0); }
    33%  { transform: scale(1.1); }
    67%  { transform: scale(0.95); }
    100% { transform: scale(1); }
}

@keyframes pop_down {
    0%   { transform: scale(1); }
    50%  { transform: scale(0); }
    100% { transform: scale(0); }
}

@keyframes slide_right {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0); }
}

@keyframes slide_up {
    from { transform: translateY(-100%); }
    to   { transform: translateY(0); }
}

@keyframes slide_right_out {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(-130%); }
    100% { transform: translateX(-130%); }
}

@keyframes slide_up_out {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-130%); }
    100% { transform: translateY(-130%); }
}

@keyframes slide_down {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(130%); }
    100% { transform: translateY(130%); }
}

@keyframes slide_up_pop {
    0%   { transform: translateY(100%); }
    33%  { transform: translateY(-10%); }
    67%  { transform: translateY(5%); }
    100% { transform: translateY(0); }
}

@keyframes slide_down_pop {
    0%   { transform: translateY(-100%); }
    33%  { transform: translateY(10%); }
    66%  { transform: translateY(-5%); }
    100% { transform: translateY(0); }
}